<div class="card">
    <div class="card-header">
        <span *ngIf="!IsTitleEditorVisible">
            <i class="far fa-lightbulb"></i>
            <strong class="ml-2" *ngIf="!Question || !Question.Title">What is title of this question?</strong>
            <strong class="ml-2" *ngIf="Question && Question.Title">{{Question.Title}}</strong>
            <button type="button" class="btn btn-outline-primary border-0 ml-2" (click)="IsTitleEditorVisible = true;">
                <i class="fas fa-pen-alt"></i>
            </button>
            <button type="button" class="btn btn-outline-danger border-0 ml-2">
                <i class="fas fa-trash-alt"></i>
            </button>
        </span>
        <span class="input-group" *ngIf="IsTitleEditorVisible">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="far fa-lightbulb"></i>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="What is title of this question?"
                [(ngModel)]="Question.Title">
            <div class="input-group-append">
                <button type="button" class="btn btn-primary" [disabled]="!Question || !Question.Title"
                    (click)="IsTitleEditorVisible = false;">
                    <i class="fas fa-save"></i>
                </button>
            </div>
        </span>
    </div>
    <div class="card-body">
        <div *ngIf="!IsTextEditorVisible">
            <span class="card-text" *ngIf="!Question || !Question.Text">What would you like to ask from the user?</span>
            <span class="card-text" *ngIf="Question && Question.Text">{{Question.Text}}</span>
            <button type="button" class="btn btn-outline-primary border-0 ml-2" (click)="IsTextEditorVisible = true;">
                <i class="fas fa-pen-alt"></i>
            </button>
        </div>
        <div class="input-group" *ngIf="IsTextEditorVisible">
            <textarea class="form-control" placeholder="What would you like to ask from the user?"
                [(ngModel)]="Question.Text"></textarea>
            <div class="input-group-append">
                <button type="button" class="btn btn-primary" [disabled]="!Question || !Question.Text"
                    (click)="IsTextEditorVisible = false;">
                    <i class="fas fa-save"></i>
                </button>
            </div>
        </div>
    </div>
</div>