<div class="row">
  <h2>
    <i class="fas fa-users"></i>
    <span class="ml-2">Users</span>
  </h2>
</div>
<div class="row text-muted mb-2">
  You can add new users, edit existing ones and delete users for the survey below.
</div>
<div class="row mb-4">
  <button type="button" class="btn btn-success mr-2" (click)="AddUser();">
    <i class="fas fa-user-plus"></i>
    <span class="ml-2">Add New User</span>
  </button>
  <button type="button" class="btn btn-primary mr-2" [disabled]="!Count" (click)="VisualizeClicked.emit();">
    <i class="fas fa-chart-pie"></i>
    <span class="ml-2">Visualize</span>
  </button>
</div>
<div class="row mb-3" *ngFor="let survey of Surveys | async">
  <app-user class="col" [User]="survey.User"></app-user>
  <button type="button" class="btn btn-info border-0 col-2" [disabled]="!survey.User.FullName"
    (click)="FillSurveyClicked.emit(survey);">
    <span class="mr-2" *ngIf="!survey.IsFilled">Fill the Survey</span>
    <span class="mr-2" *ngIf="survey.IsFilled">Survey Answered</span>
    <i class="fas fa-tasks" *ngIf="!survey.IsFilled"></i>
    <i class="fas fa-check" *ngIf="survey.IsFilled"></i>
  </button>
</div>
